<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TesteWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceDBSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ServiceDB.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceDBSoap" contract="WS.ServiceDBSoap"
                name="ServiceDBSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="DiaDaSemana" value="2"/>
    <add key="HoraDoDia" value="10" />
    <add key="MinutosDoDia" value="00" />
  </appSettings>
  <applicationSettings>
    <TesteWS.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </TesteWS.Properties.Settings>
  </applicationSettings>
</configuration>